CC 0611 and 0903: Bibliography contains references to the old IETF drafts

The document 0611 "The Benefits of iCalendar for the Mobile Industry" contains references to two IETF Internet drafts that are no longer available and can not be auto-fetched. These are currently encoded as follows:

````
* [[[cd-access,CALDAV-ACCESS]]], Calendaring Extensions to WebDAV
<http://www.ietf.org/internet-drafts/draft-dusseault-caldav-14.txt>
// EDITOR: Non-existing link, auto-fetching `IETF I-D draft-dusseault-caldav-14` fails. This should now be RFC 4791.

* [[[cd-sched,CALDAV-SCHED]]], Scheduling Extensions to CalDAV
<http://www.ietf.org/internet-drafts/draft-desruisseaux-caldav-sched-02.txt>
// EDITOR: Non-existing link, auto-fetching `IETF I-D draft-desruisseaux-caldav-sched-02` fails. This should now be RFC 6638.
````

Similar applies to the document 0903 "Freebusy Read URL":
````
* [[[I-D.ietf-vcarddavvcardrev,2]]], Perreault, S. and P. Resnick, “vCard Format Specification,” draft-ietf-vcarddav-vcardrev-06 (work in progress), March 2009 (TXT).
// EDITOR: Auto-fetching `IETF I-D draft-ietf-vcarddav-vcardrev-06` fails. This should now be RFC 6350.
````

The thing is these documents referenced were not published at the time that our document was, so it's strange to change a reference to refer to a "future state"...

I agree it would not be a good option. Maybe we should just turn off auto-fetching here?